<template>
	<div class="MessageHolder row">
		<Message v-for="messageData in $attrs.value" :key="messageData.hash" :data="messageData"></Message>
	</div>
</template>

<script>
	import Message from './Message/Message';

	export default {
		components: {
			Message
		},
	};
</script>

<style scoped>
	.MessageHolder {
		height: 70vh;
		overflow-y: auto;
	}
</style>
