<template>
	<div class="Message row">
		<div :class="`col s4 card-panel ${cardClass}`">
			<div class="row white-text">
				<div class="col s6 left-align">
					{{ messageObject.creator }}
				</div>
				<div class="col s6 right-align">
					{{ messageObject.date.format('HH:mm') }}
				</div>
			</div>
			<div class="white-text">
				{{ messageObject.content }}
			</div>
		</div>
	</div>
</template>

<script>
	import { Message } from '../../../lib/definition/Message'

	export default {
		data() {
			return {
				isOwned : false,
				messageObject : null,
				cardClass: '',
			}
		},
		created() {
			this.messageObject = Message.build(this.$props.data);
			if (this.$store.getters['auth/getUser'].username === this.messageObject.creator) {
				this.cardClass = 'red darken-1 offset-s8';
			} else {
				this.cardClass = 'red darken-4';
			}

		},
		props: {
			data: Object
		},
	};
</script>

<style scoped>
	.Message {
		margin-left: 1vh;
		margin-right: 1vh;
	}
</style>
