<template>
	<div id="chat" class="card sticky-action">
		<div class="card-content">
			<MessageHolder v-model="chatData"></MessageHolder>
		</div>
		<div class="card-action message-input">
			<MessageInput @message="emitMessage($event)"></MessageInput>
		</div>
	</div>
</template>

<script>
	import MessageHolder from '../components/MessageHolder/MessageHolder';
	import MessageInput from '../components/MessageInput/MessageInput';

	import {Message, MessageType} from '../lib/definition/Message';

	import moment from 'moment';
	import io from 'socket.io-client';

	export default {
		name: 'Chat',
		components: {
			MessageHolder,
			MessageInput,
		},
		data: function () {
			return {
				chatData: [],
				socket: null
			}
		},
		methods: {
			emitMessage ({content}) {
				let message = new Message(content, this.$store.getters['auth/getUser'].username, moment())
				this.socket.emit('message', JSON.stringify(message));
			}
		},
		mounted() {
			this.socket = io('http://localhost:3000');
			let initMessage = new Message('CONNECTION', this.$store.getters['auth/getUser'].username, moment(), MessageType.META);
			this.socket.emit('message', JSON.stringify(initMessage));

			// TODO init message list in channel

			this.socket.on('message', (incomingMessage) => {
				let parsedMessage = JSON.parse(incomingMessage);
				this.chatData.push(parsedMessage);
				// console.log('received : ' + parsedMessage);
			});
		},
		beforeDestroy() {
			let initMessage = new Message('DISCONNECT', this.$store.getters['auth/getUser'].username, moment(), MessageType.META);
			this.socket.emit('message', JSON.stringify(initMessage));
			this.socket.close();
		},
	}
</script>

<style scoped>
	.full-size {
		height: 90vh;
	}

	/*.message-input {*/
	/*	position: relative;*/
	/*	top: 70vh;*/
	/*	padding-bottom: 0;*/
	/*}*/
</style>

