<template>
	<div class="home">
		<div class="row">
			<div class="card-panel col s6 offset-s3 row">
				<div class="input-field col s12">
					<input id="input-name" type="text" v-model="username">
					<label for="input-name">Username</label>
				</div>
				<div class="input-field col s12">
					<button class="btn" @click="connect()">Connect</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import M from 'materialize-css/dist/js/materialize';

	export default {
		name: 'home',
		props: ['routeForbidden'],
		mounted() {
			if (this.$props.routeForbidden){
				M.toast({html: 'Access forbidden', classes: 'red darken-1', displayLength: 2000})
			}
		},
		methods: {
			connect () {
				this.$store.dispatch('auth/connectUser', {username: this.username}).then(() => {
					if (this.$store.getters['auth/isLogged']) {
						this.$router.push({name: 'chat'})
					} else {
						M.toast({html: 'An error occured', classes: 'red darken-1'});
					}
				})
			}
		},
		data: function () {
			return {
				username: ''
			}
		}
	}
</script>
