<template>
    <div class="MessageInput row">
		<div class="input-field col s10">
			<i class="material-icons prefix">message</i>
			<input id="message-input-field" type="text" v-model="messageContent" @keypress.enter="sendMessage()">
			<label for="message-input-field">Your message</label>
		</div>
		<div class="input-field col s2 right-align">
			<button class="btn" @click="sendMessage()">
				Send
				<i class="material-icons left">arrow_upward</i>
			</button>
		</div>
    </div>
</template>

<script>
    export default {
		methods: {
			sendMessage () {
				this.$emit('message', {content: this.messageContent});
				this.messageContent = '';

				document.querySelector('#message-input-field').blur();
				document.querySelector('label[for=message-input-field]').classList.remove('active');
			}
		},
		data: function () {
			return {
				messageContent: ''
			}
		}
	};
</script>
