<template>
	<div id="app">
		<nav>
			<div class="nav-wrapper">
				<div v-if="isLogged" class="brand-logo">
					Welcome {{ username }}
				</div>
				<div v-else class="brand-logo">
					Connect you to continue
				</div>

				<ul class="right hide-on-med-and-down">
					<li><router-link :to="{name: 'home'}">Home</router-link></li>
					<li><router-link :to="{name: 'chat'}">Chat</router-link></li>
					<li v-if="isLogged">
						<a href="#" @click="disconnect()">Disconnect<i class="material-icons white-text secondary-content">highlight_off</i></a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<router-view/>
		</div>
	</div>
</template>

<script>
	import 'materialize-css/dist/css/materialize.min.css';
	import 'materialize-css/dist/js/materialize.min.js';

	export default {
		computed: {
			isLogged () {
				return this.$store.getters['auth/isLogged'];
			},
			username() {
				return this.$store.getters['auth/getUser'].username;
			}
		},
		methods: {
			disconnect() {
				this.$store.dispatch('auth/disconnectUser').then(() => {
					this.$router.push({name: 'home'});
				})
			}
		}
	};
</script>
